/public/
/resources/_gen/
/resources/
.hugo_build.lock

.hugo_cache/

hugo_stats.json


.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

.vscode/
.idea/
*.swp
*.swo

node_modules/
npm-debug.log*

.env
.env.local